/* //background clip */

h1{
    text-align: center;
    font-size: 50px;
  font-family:"Bungee Spice";
  


}
 /* backkground repeat ki 4     value hoti hu */
/* 3 types hoti hai linear radial conic */
