
.container{
    align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
h1{
    text-align: center;
    font-size: 50px;
  font-family:"Bungee Spice";
  


}

#changecolor{
  background-color: black;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  font-size: 1em;

}

#changecolor:hover{
  background-color: rgb(113, 104, 101);
}